body{
    margin:auto;
    text-align: center;
    background-color:pink;
}
.navbar{
    overflow:hidden;
    background-color:rgb(201, 37, 37);
    position:fixed;
    list-style: none;
    top:0;
    width:100%;
}
ul li meta{
    display:inline;
    padding-left:0px;
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar a{
    float:left;
    display:block;
    color:blue;
    text-align:center;
    padding:14px 16px;
    list-style:none;

}
.navbar a:hover{
    background:#ddd;
    color:black;
}
header{
    font-size:20px;
    text-align:center;
    margin-top:12%;
    font-family: sans-serif;
    background-image:url(../images/bg1.jpeg);
    padding-left:10%;    
}
.bgimg1{
    background-image:url("../images/cycle.jpg");
    height:40%;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no repeat;
    background-size:cover;
}
.bgimg2{
    background-image:url("../images/parallax2.jpg");
    position: relative;
    background-attachment:fixed;
    scroll-behavior: auto;
}
.bgimg3{
    background-image:url("../images/parallax1.jpg");
    background-attachment:fixed;
    text-align:center;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;  
}

p{
    
    background-position: center;
    width:100%;
    text-align:center;
    font-size:40px;
    font-style: italic;
    font-family:cursive;
}
aside{
    float:right;
    border:30px;
    width:50%;
    background-image:url(../images/canvas.jpg);
}
footer{
    text-align:center;
    display:inline;
    background-color:palevioletred;
    font-size:80%;
    

}

            
            .container{
                border:20px;
                border-color:gray;
                border-style: solid-black;
                padding-left:20px;
            }
            .box1{
                background-color: white;
                align-content: right;
            }
           
            h2{
                background:plum;
                padding-left:10px;
                font-family:Arial, Helvetica, sans-serif;

            }
            form{
                
                font-size:40px;
                font-style: bold;
                text-align:left;
                padding: left 0;           
             }
             p form
             {
                 
             }
           
            
            
            
            
            